@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDiscription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>
    @Html.Raw(Model.Text)
</div>
@*@{
        ViewData["Title"] = "Contaсtsss";
    }

    <h1>Contaсtsss</h1>*@

